.categoryPanel button {
    text-transform: capitalize !important;
}

.nav li .submenu {
    visibility: hidden;
    z-index: 9997;
    position: absolute;
}

.nav li .submenu button {
    font-weight: 400 !important;
}

.nav li:hover .submenu {
    opacity: 1 !important;
    visibility: visible;
}

.nav li:hover .submenu button {
    opacity: 1 !important;
}

.header,
nav,
.container {
    position: relative;
    z-index: 1;
}

.nav li .submenu li:hover button {
    color: #ff5252 !important;
}

.nav li .submenu li .submenu {
    top: 0px !important;
    left: 120% !important;
    opacity: 0 !important;
}

.nav li .submenu li:hover .submenu {
    left: 100% !important;
    opacity: 1 !important;
}

.nav li .submenu li .submenu button {
    color: rgba(0, 0, 0, 0.80) !important;
}

.nav li .submenu li .submenu button:hover {
    color: #ff5252 !important;
}

.first-letter-cap {
    text-transform: lowercase;
}

.first-letter-cap::first-letter {
    text-transform: uppercase;
}

